body{
    font-family: 'Montserrat', sans-serif; 
}

#about{
    font-size: 36px;
}
#foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
}
.text{
    margin-top: 10%;
    margin-left: 100px;
}
.photos{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: auto;
}
.tombol{ 
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    margin-top: 10%;
    font-size: 16px;
    line-height: 19px;
    background-color: #e6dcc3 !important;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: none;
    color: black;
    padding: 7px;
    cursor: pointer;
    border-radius: 20px;
}
.kata{
    margin-top: 10%;
}