body{
    font-family: 'Montserrat', sans-serif;
}
#inventory{
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
}
.tombol{
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    font-size: 16px;
    line-height: 19px;
    background-color: #e6dcc3 !important;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: none;
    color: black;
    padding: 7px;
    cursor: pointer;
    border-radius: 20px;
}

#items{
    text-align: center;
}

#kg{
    text-align: center;
}

.add{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
#text{
    text-align: center;
    font-size: 20px;
}
.show{
    text-align: center;
    color: red;
}
#overlay{	
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height:100%;
	display: none;
	background: white;
}
.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;  
}
.spinner {
	width: 40px;
	height: 40px;
	border: 4px #ddd solid;
	border-top: 4px #2e93e6 solid;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.is-hide{
	display:none;
}