body{
    font-family: 'Montserrat', sans-serif;
}
#inventory{
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
}
.tombol{
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    font-size: 16px;
    line-height: 19px;
    background-color: #e6dcc3 !important;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: none;
    color: black;
    padding: 7px;
    cursor: pointer;
    border-radius: 20px;
}

#items{
    text-align: center;
}

#kg{
    text-align: center;
}

.add{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
#text{
    text-align: center;
    font-size: 20px;
}