#inventory{
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}
.foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
}

#items{
    text-align: center;
}

#kg{
    text-align: center;
}

.add{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}