body{
    background-color:white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.product-image{
    display: block;
    margin: auto;

    width: 250px;
    height: 250px;
    

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.product-name{
    margin-top: 10%;
    font-weight: bold;
    font-size: 20px;
    
}

.product-sold{
    font-size: 16px;
}

.button{
    font-size: 16px;
    line-height: 19px;
    background-color: #c7bdb1 !important;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100px;
    border: none;
    color: black;
    padding: 7px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
}




