{% extends 'base.html' %}
{% load static %}
{% block script %}

<script src="{%static 'js/script.js' %}"></script>{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{%static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container">
	<h1 class="mt-3 ml-3">Product List</h1>
	<br><br>
	<table class="table table-striped mx-1">
		<thead>
			<tr>
				<th scope="col">Nama Produk</th>
				<th scope="col">bahan</th>
				<th scope="col">Jumlah Dibutuhkan</th>
				<th scope="col">Jumlah Di gudang</th>
				<th scope="col">informasi</th>
			</tr>
		</thead>
		<tbody>
			{% for i in jml %}
			<tr>
				{% for x in i%}
				<th scope="col">{{ x }}</th>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<button id="add" type="button"><a class="nav-link" href="{% url 'inventory:addProduct' %}"><b>Add Product</b></a></button>

</div>

<div id="overlay">
	<div class="cv-spinner">
		<span class="spinner"></span>
	</div>
</div>

{% endblock %}