{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input type="submit" id="but" value="signup">
    </form>
</div>


{% endblock %}