{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="signup" id="but">
    </form>
</div>

{% endblock %}