{% extends 'base.html' %}
{% load static %}

{% block script %}
<script src="{% static 'inven/scripts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row m-5">
        <div class="control-group" id="fields">
            <h2 class="control-label" for="field1">Add Product</h2>
            <div class="controls">
                <form class="form-horizontal" method="POST" action="">
                    {% csrf_token %}
                    <div class="row spacer">
                        <div class="col-2">
                            <label>{{form.makanan.label}}</label>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                {{form.makanan}}
                            </div>
                        </div>
                        <div class="col-6">
                            <p id="status"></p>
                        </div>
                    </div>
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="row form-row spacer">
                        <div class="col-2">
                            <label>{{form.bahan.label}}</label>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                {{form.bahan}}
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success add-form-row">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <label>{{form.jumlah.label}}</label>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                {{form.jumlah}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row spacer">
                        <div class="col-4 offset-2">
                            <button type="submit" class="btn btn-block btn-primary m-2">Create</button>
                        </div>
                    </div>
                    <br>
                    <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

