{% extends 'base.html' %}

{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/inventory.css' %}">

<div class="container">
    <h1 id="inventory">My Inventory</h1>
    <p class="show" style="display:none">Silahkan tambahkan Inventory Anda</p>
    {% for i in bahan %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 id="text"> Makanan: {{ i.namaproduk.makanan }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 id="text">Bahan: {{ i.namabahan.bahan }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 id="text">Jumlah yang dimiliki: {{ i.jumlah }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="col-sm">
                <form action="{{ i.id }}/" method="POST" id="name">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.makanan }}
                        <button type="submit" class="btn btn-primary tombol">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}
<div id="overlay">
	<div class="cv-spinner">
		<span class="spinner"></span>
	</div>
</div>
{% endblock %}
{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock script %}