{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    {% block style %}{% endblock %}
    <title>Invenstory </title>

</head>

<body>
    <nav class="navbar navbar-expand-lg justify-content-end" style="background-color: #e6dcc3;">
        <a class="navbar-brand" href="{% url 'landing' %}"><img src="{% static 'images/logo.png' %}" height="40" width="180"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" style="color: black;"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inventory:addProduct' %}" style="color: black; font-family: 'Montserrat', sans-serif;">add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sold" style="color: black; font-family: 'Montserrat', sans-serif;">sold</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productlist:productlist' %}" style="color: black; font-family: 'Montserrat', sans-serif;">list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myinventory:inventory' %}" style="color: black; font-family: 'Montserrat', sans-serif;" >inventory</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'accounts:logout' %}" class="nav-link" style="color: black; font-family: 'Montserrat', sans-serif;">log out</a>
                    {% else %}
                    <a href="{% url 'accounts:login' %}" class="nav-link" style="color: black; font-family: 'Montserrat', sans-serif;">log in</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'accounts:signup' %}" class="nav-link" style="color: black; font-family: 'Montserrat', sans-serif;">sign up</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    {% block script %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
</body>

</html>