{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<div class="container">
    <div class="row">
        <img src="{% static 'images/logo.png' %}" id="foto">
    </div>
    <div class="row">
        <div class="col-md-4 text">
            <h1 id="about">About Us</h1><br>
            <p>To make your job easier, Invenstory</p>
            <p>will help you to manage your inventory</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img src="{% static 'images/foto.jpg' %}" height="350">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1>What we do?</h1>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 photos">
            <img src="{% static 'images/add.png' %}" height="130">
            <p class="kata">Add your products</p>
            <a href="{% url 'accounts:login' %}"><button class="tombol btn btn-primary">Add Products</button></a>
        </div>
        <div class="col-md-3 photos">
            <img src="{% static 'images/list.png' %}" height="130">
            <p class="kata">Calculate your sold products</p>
            <a href="{% url 'accounts:login' %}"><button class="tombol btn btn-primary">Sold Products</button></a>
        </div>
        <div class="col-md-3 photos">
            <img src="{% static 'images/sold.png' %}" height="130">
            <p class="kata">List of all your products</p>
            <a href="{% url 'accounts:login' %}"><button class="tombol btn btn-primary">List Products</button></a>
        </div>
        <div class="col-md-3 photos">
            <img src="{% static 'images/inventory.png' %}" height="130">
            <p class="kata">Restock your inventory</p>
            <a href="{% url 'accounts:login' %}"><button class="tombol btn btn-primary">Inventory</button></a>
        </div>
    </div>
</div>
{% endblock %}