{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" media="screen">
<script type="text/javascript" src="{% static 'terjual/scripts.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <!-- <img src="{% static 'image/sold1.jpg' %}" width="300"> -->
</div>

<div class="container">
    <h1 class="m-5">Products Sold</h1> 

    <input type="text" id="search" class="m-5" class="form-control " placeholder="Available Products">

    <!-- <p style="display:none" class="name">Inventori berhasil dikurangi</p> -->

    
    <button type="text" class="button btn btn-primary">Tampilkan Jumlah Produk Terjual</button>

    {% for i in bahan %}

    <div class="row">
        <div class="col-md-4">
            <h3 class='product-name'>{{ i.makanan.makanan}}</h3>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-4">
            <h3 class='product-sold'></h3>
        </div>
    </div> -->

    <p>terjual : {{ i.jumlah_terjual }}</p>
    
    <form id="jumlah" action="/sold/{{ i.id }}/" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            <div class="input-group-sm mb-3">
                <!-- <div class="input-group-prepend"> -->
                    <!-- <span class="input-group-text" id="inputGroup-sizing-sm"></span> -->
                <!-- </div> -->
                {{ form.makanan }}
                <br>
                <button type="submit" class="button btn btn-primary">add</button>
            </div>
        </div>
    </div>
    </form>
    {% endfor %}
    
</div>

<div id="overlay">
	<div class="cv-spinner">
		<span class="spinner"></span>
	</div>
</div>


{% endblock %}
