#add{
	text-decoration: none;
	display: block;
	margin: 20px auto;
	padding: 10px 30px;
	background-color: #eee;
	border: solid #ccc 1px;
	border-radius: 5%;
	cursor: pointer;
	font-size: 20px;
}

#overlay{	
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height:100%;
	display: none;
	background: white;
}
.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;  
}
.spinner {
	width: 40px;
	height: 40px;
	border: 4px #ddd solid;
	border-top: 4px #2e93e6 solid;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.is-hide{
	display:none;
}

